<h3 class="text-center">Product List</h3>
<hr/>
<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-4">
      <input type="search" placeholder="Search..." class="form-control">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary">Sost Asc</button>
      <button class="btn btn-secondary mx-2">Sost Desc</button>
    </div>
  </div>
  <div class="row mt-2">
    @for (product of productsArr | paginate: { itemsPerPage: 4, currentPage: p};track $index) {
      <div class="col-sm-3">
        <div class="card text-center">
          <img src="{{product.image}}" class="card-img-top" alt="..." height="200px">
          <div class="card-body">
            <h5 class="card-title">{{product.category}}</h5>
            <p class="card-text">{{product.id}}</p>
            <p class="card-text">{{product.title}}</p>
            <p class="card-text text-truncate">{{product.description}}</p>
            <p class="card-text">{{product.price}}</p>
            <p class="card-text">{{product.rating.rate}}</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="row">
    <div class="col-sm-4 offset-4 mt-2">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
