<div class="container">
    <div class="row">
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/77/77/image/75ac28a1e9192898.png?q=100" alt="">
                <div>Top Offers</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/77/77/image/cd6aca4f61e8ea95.png?q=100" alt="">
                <div>Mobiles & Tablets</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/77/77/image/9c64dfa667885ca9.png?q=100" alt="">
                <div>TV & Appliances</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/77/77/image/9c64dfa667885ca9.png?q=100" alt="">
                <div>Electronics</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/77/77/image/75ac28a1e9192898.png?q=100" alt="">
                <div>Fashion</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/77/77/image/75ac28a1e9192898.png?q=100" alt="">
                <div>Top Offers</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/77/77/image/75ac28a1e9192898.png?q=100" alt="">
                <div>Top Offers</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/77/77/image/75ac28a1e9192898.png?q=100" alt="">
                <div>Top Offers</div>
            </div>
        </div>
        <div class="col">
            <div class="category text-center">
                <img src="https://rukminim2.flixcart.com/fk-p-flap/77/77/image/75ac28a1e9192898.png?q=100" alt="">
                <div>Grocery</div>
            </div>
        </div>
    </div>
</div>