<div class="body border p-2 mt-2">
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->

  <!-- <app-my-modal>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
        <tr>
          <td>data-1</td>
          <td>data-2</td>
          <td>data-3</td>
          <td>data-4</td>
        </tr>
      </tbody>
    </table>
  </app-my-modal> -->
  <!-- <app-my-modal>
    <h2>Angular Logo</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnUH4RC9xnxto6zeM5OalVLLUN6No810oPTg&s" alt="">
  </app-my-modal> -->

  <!-- <app-products></app-products> -->
  <!-- <app-demo1></app-demo1> -->
  <app-pipes></app-pipes>

</div>