<h3 class="text-center">Let's Learn Directives</h3>
<hr />

<div class="border p-2 m-2">
  <h4>If Else (Before Angular 17)</h4>
  <div>Change num value and check if it is even or not</div>
  <input type="number" [(ngModel)]="num" />

  <div *ngIf="num%2==0">{{num}} is Even</div>
  <div *ngIf="num%2!==0">{{num}} is Odd</div>
</div>

<div class="border p-2 m-2">
  <h4>If Else (After Angular 17)</h4>
  <div>Change num value and check if it is even or not</div>
  <input type="number" [(ngModel)]="num" />

  @if(num%2==0){
    <div>{{num}} is Even</div>
  }@else {
    <div>{{num}} is Odd</div>
  }
</div>

<div class="border p-2 m-2">
  <h4>Switch Case</h4>
  <div>Change dayNum value to get day name</div>
  <input type="number" [(ngModel)]="dayNum" />
  @switch (dayNum) {
    @case (1) { <h4>Monday</h4> }
    @case (2) { <h4>Tuesday</h4> }
    @case (3) { <h4>Wednesday</h4> }
    @case (4) { <h4>Thursday</h4> }
    @case (5) { <h4>Friday</h4> }
    @case (6) { <h4>Saturday</h4> }
    @case (7) { <h4>Sunday</h4> }
    @default { <h4>Not a Valid number</h4>
  }
}
</div>

<div class="border p-2 m-2">
  <h4>Display States in a dropdown using ForLoop</h4>
  <select>
    @for(state of stateNames;track $index){
      <option>{{state}}</option>
    }
  </select>
</div>

<div class="border p-2 m-2">
  <h4>Country List Dropdown</h4>
  <select [(ngModel)]="selectedCountry">
    @for(country of country_list;track $index){
      <option>{{country}}</option>
    }
  </select>
  <div>Selected Country: {{selectedCountry}}</div>
</div>

<div class="border p-2 m-2">
  <h4>Country DataList</h4>
  <input list="countries">
  <datalist id="countries">
    @for(country of country_list;track $index){
      <option>{{country}}</option>
    }
  </datalist>
</div>

<div class="border p-2 m-2">
  <h4>Employees Table</h4>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>SL No.</th>
        <th>Emp Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Gender</th>
        <th>Is First</th>
        <th>Is Last</th>
        <th>Is Even</th>
        <th>Is Odd</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of employees; track emp.eId) {
        <tr>
          <td>{{$index+1}}</td>
          <td>{{emp.eId}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.sal}}</td>
          <td>{{emp.gender}}</td>
          <td>{{$first}}</td>
          <td>{{$last}}</td>
          <td>{{$even}}</td>
          <td>{{$odd}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
