<div class="container border border-5 p-2 m-2 text-center">
  <div>I am parent component</div>
  <div>My own data a is: {{a}}</div>
  <div>My Child comp data userName is: {{child1.userName}}</div>
  <div>My Child comp data address is: {{address_parent}}</div>

  <div class="row">
    <div class="col-sm-6 border border-5">
      <app-child1 [a]="a" #child1></app-child1>
    </div>
    <div class="col-sm-6 border border-5">
      <app-child2 [child2_a]="a" [child2_userName]="child1.userName"
        (addressEvent)="receiveDataFromChild($event)"></app-child2>
    </div>
  </div>
</div>
